<!DOCTYPE html>
<html>
  <title>New User</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <style>
    body,
    h1 {
      font-family: sans-serif;
    }
    body,
    html {
      height: 100%;
    }
    .logo {
      display: inline-block;
      width: 80px;
      height: auto;
    }

    
    
  </style>
  <body>
    <div style="width: 100%;float: left;padding: 0;margin: 0;">
      <div
        style="width:100%;float: left;padding: 10px 2%;font-size: 14px;color: #000000;background-color: #f2f2f2;"
      >
        Airshow.fun
      </div>
      <div style="width: 100%;float: left;padding: 20px 2%;margin: 0;">
        <p
          style="width: 100%;float: left;padding: 5px 0%;margin: 0; font-size: 14px; color: #000"
        >
          Hello {{ name }},
        </p>
        <p
          style="width: 100%;float: left;padding: 5px 0%;margin: 0; font-size: 14px; color: #000"
        >
          Welcome to Airshow.fun.
        </p>

        <p
          style="width: 100%;float: left;padding: 5px 0%;margin: 0; font-size: 14px; color: #000"
        ></p>

        <p
          style="width: 100%;float: left;padding: 5px 0%;margin: 0; font-size: 14px; color: #000"
        >
          Generate your password and verify your account by using this <a href="{{ url }}">link</a>.
          
        </p>
        <p></p>
      </div>

      <div
        style="width:100%;float: left;padding: 10px 2%;font-size: 14px;color: #000000;position: fixed;bottom: 0;left: 0;background-color: #f2f2f2;"
      >
        <p
          style="width: 100%;float: left;padding: 5px 0%;margin: 0; font-size: 14px; color: #000"
        >
          @2020. All rights reserved
        </p>
      </div>
    </div>
  </body>
</html>
