<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Airshow User Verification</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="./../../assets/css/navbar-top.css" rel="stylesheet">
  </head>
  <style>
    .form-label-group{
      margin: 5%;
    }
    .error{
      color:red;
    }
    .heading{
      color:white;
    }
    .submit-button{
      background-color: #92c3fa;
      border-color: #92c3fa;
      color:#3262A5 !important;
    }
    .submit-button:hover {
    background-color: #92c3fa;
    border:1px solid #3262A5;
    /* border-color: #92c3fa; */
    color: #3262A5 !important;
}
    .jumbotron{
      background-color: #3262A5;
    }
    .form-control{
      background-color: #80a8cf;
      border: unset;
      height: 42px;
    }
    .form-control:focus {
      color: #495057;
        background-color: #80a8cf;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    .float-right{
      float: right
    }
    .submit-button{
      margin-right: 5%;
    }

.form-control::-webkit-input-placeholder { color: #3262A5; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #3262A5; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #3262A5; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #3262A5; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #3262A5; }

    @media (min-width: 576px){
        .jumbotron {
            padding: 3rem 2rem;
            margin: 5%;
        }
    }
    @media all and (max-width: 699px) and (min-width: 320px) {

        body{
          background: #e4e5e6
        }
      .jumbotron {
            padding: 3rem 2rem;
            margin: 10% 3% 3% 3%;
        }
    }
  </style>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Airshow.fun</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    
     
    <main role="main" class="container">
        <div class='row'>
            <div class="col-md-3"></div>
            <div class="jumbotron col-md-6" >
              <% if(token==undefined) {%>
                <p style='text-align: center;color:white'> Token expired. </p>
                <% } else {%>
              <form id="addUserForm" class="form-signin" method="POST"  >
                  <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal heading">Create Password</h1>
                  </div>
            
                  <div class="form-label-group">
                    <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="New Password"  autofocus>
                    <!-- <label for="inputPassword">New Password</label> -->
                    <span class='error' id='err_inputPassword'></span>
                  </div>
            
                  <div class="form-label-group">
                    <input type="password" name="ConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" >
                    <!-- <label for="inputConfirmPassword">Confirm Password</label> -->
                    <span class='error' id='err_inputConfirmPassword'></span>
                  </div>   
                  <div class="">
                    <button class="btn btn-lg btn-primary btn-block submit-button col-md-3 col-4 float-right" type='button' onclick="submitHandler()">Submit</button>
                </div>         
                </form>

                <div class="form-label-group" id="success">
                    <p style='color: white;text-align: center;font-size: 16px;font-family: "Avenir", "Montserrat", sans-serif;'><span>Password created successfully. Please Click <a href="http://airshow.fun">here</a>  to login. </span></p><br>
                  <!--  <p><span class="alert alert-success">Click <a href="http://airshow.fun">here</a> to return the Login Page</span></p> -->
                </div>
              
                
                <% } %>

            </div>
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      /*   const $form = $('#addUserForm');
        $('#success').hide();
        $form.on('submit', submitHandler) */

        $('#success').hide();
        function submitHandler (e) {
                let error = 0;

          var regex = /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/

            if($('#inputPassword').val() == ""){

              $('#err_inputPassword').html("Please enter password");
              error = 1
            }else{
              console.log($('#inputPassword').val());

                console.log(regex.test($('#inputPassword').val()));
                if(!regex.test($('#inputPassword').val())){

                  $('#err_inputPassword')
                  .html("Password should be at least 8 characters long and include a alphanumeric and one special character.");
                         
                  error = 1
                }else{

                  $('#err_inputPassword').html("");
                }
            }

            if($('#inputConfirmPassword').val() == ""){

                $('#err_inputConfirmPassword').html("Please enter confirm password");
                error = 1
            }else{

                if($('#inputPassword').val() != $('#inputConfirmPassword').val()){
                  $('#err_inputConfirmPassword').html("Password entered do not match.");
                    error = 1;
                }else{

                  $('#inputConfirmPassword').html("");
                }

                
            }

            if(error == 0){
                const $form = $('#addUserForm');  
                /* e.preventDefault() */
                $.ajax({
                    url: '/api/v1/users/password/<%= token %>',
                    type:'POST',
                    data: $form.serialize(),
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function(response){
                        console.log(response)
                        if(response.statusCode==200){
                          $('#success').show();
                          $("#addUserForm").hide();
                          setTimeout(()=>{
                              window.location.href = `${process.env.WEB_URL}/#/login`;
                          },3000)
                        }
                        
                    }
                })
              }
        }
        function validate(){
          
          let error = 0;

          var regex = /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/
        /*   var str = $('#inputPassword').val();
          var patt = "((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})";
          var result = str.match(patt);
          console.log(result);
          return; */
            if($('#inputPassword').val() == ""){

              $('#err_inputPassword').html("Please enter password");
              error = 1
            }else{
              console.log(regex.test($('#inputPassword').val()));
              if(!regex.test($('#inputPassword').val())){

                $('#err_inputPassword')
                .html("Password should be at least 8 characters long and include a alphanumeric and one special character");                           
                error = 1
              }else{

                $('#err_inputPassword').html("");
              }              
            }

            if($('#inputConfirmPassword').val() == ""){

                $('#err_inputConfirmPassword').html("Please enter confirm password");
                error = 1
            }else{

                if($('#inputPassword').val() != $('#inputConfirmPassword').val()){
                  $('#err_inputConfirmPassword').html("Password entered do not match.");
                    error = 1;
                }else{

                  $('#inputConfirmPassword').html("");
                }

                
            }
          
            if(error == 0){
              return true;
            }else{
              return false;
            }

        }
    </script>
</body>
</html>
